body{
    margin:0;
}
.content{
    
    margin:1%;
    
    background:#e7eaee;
   
}
.logo{
    width:40%;
    height:30%;
    background: #e7eaee;
    padding: 27px;
    float: left;
    margin-left: 80px;
    margin-top: 1px;    
   
}
.login{
    
    margin-left:750px;
    margin-top:99px;
    width:396px;
    height:360px;
    background:white;
    border-radius:8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
}
.img{
    height: 106px;
margin: -28px;
  margin-top: -28px;
  margin-right: -28px;
  margin-bottom: -28px;
  margin-left: -28px;
}
#hed{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
font-size: 28px;
font-weight: normal;
line-height: 32px;
width: 500px;
}
.log1{
    width: 173px;
height: 35px;
border-radius: 6px;
font-family: inherit;
font-size: 17px;
padding: 14px 16px;
padding-top: 14px;
padding-right: 16px;
padding-bottom: 14px;
padding-left: 16px;
width: 330px;
}
.pass1{
    width: 173px;
height: 35px;
border-radius: 6px;
font-family: inherit;
font-size: 17px;
padding: 14px 16px;
padding-top: 14px;
padding-right: 16px;
padding-bottom: 14px;
padding-left: 16px;
width: 330px;
}